#InfoPersonal {
    width: 400px;
    height: 647px;
    background-color: gray;
    border: solid 1px black;
    position: fixed;
    top: 0;
    left: 0;
    /*flex-direction elige como el navegador interpreta la grilla, por defecto es row (fila), es decir,
    flex-direction: row (default);  
    justify-content de izquierda a derecha (fila) y align-items de arriba hacia abajo (columna).
    De modo que si pongo alguno de estos valores cambiamos el orden de la grilla, así: 
    flex-direction: column;  
    jutify-content aplicará de arriba hacia abajo y align-items aplicará de izquierda a derecha.
    flex-direction: row-reverse;
    jutify-content aplicará de derecha a izquierda(fila) y align-items(columna) aplicará de arriba hacia abajo.
    flex-direction: column-reverse;  
    jutify-content aplicará de izquierda a derecha y align-items aplicará de abajo hacia arriba.*/
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 100px;
    border: solid 2px black;
}

.MisDatos {
    width: 380px;
    margin-top: 20px;
}

#Contenido {
    margin-left: 400px;
    background-color: whitesmoke;
    border: solid 1px;
    position: absolute;
    /*display: flex;*/
    top: 0;
    right: 0;
}

.Detalles {
    align-self: center;
    margin: 10px;
}

li {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: left;
}

span {
    display: block;
    text-align: justify;
    align-items: center;
    justify-content: center
}